# compile this file with 'pip-compile requirements.in'
# sync environment with 'pip-sync'
# to update all packages run 'pip-compile --upgrade'

concurrent-log-handler==0.9.17
django~=2.2
django-cas-ng==4.1.1
django-cors-headers==3.5.0
django-debug-toolbar==3.1.1
django-environ==0.4.5
django-extensions==3.0.9
django-redis==4.12.1
django-filter==2.4.0
djangorestframework==3.12.2
drf-spectacular==0.13.2
pip-tools==5.3.1
psycopg2-binary==2.8.6
shortuuid==1.0.1
werkzeug==1.0.1  # for django-extensions

# Server
gunicorn==20.0.4
rainbow-saddle==0.4.0
